body {
    font-family: Comic Sans MS, Comic Sans;
    background-image: url(https://vignette.wikia.nocookie.net/simpsons/images/9/96/800px-Moe%27s_Tavern.png/revision/latest?cb=20170101230904);
}
main {
    color: indigo;
}
p {
    font-family: Papyrus;
    font-size: 20px;
    color:black;
    display:inline-block;
    width: auto;
    background-color: white
}
a {
    background-color: white;
    width: auto;
    display: inline-block;
}